extends ../layout

block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 名称
                        th 大小
                        th 状态
                        th 创建日期
                        th 操作
                tbody
                    each item in volumes
                        tr(class="item-id-#{item._id}")
                            td #{item.name}
                            td #{item.size}
                            td #{item.status}
                            td #{moment(item.createAt).format('MM/DD/YYYY')}
                            td
                                a(target='_blank',href="../volume/gotoUpdateVolume/#{item._id}")  修改 |
                                a.del(target='_blank',href="#",data-id="#{item._id}")  删除
                                //button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
     script(src="/js/volume.js")